@import 'font-face';
@import 'variables';
@import 'media';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: $montserrat;
	font-weight: $regular;
}

img {
	width: 100%;
	object-fit: cover;
}

a {
	display: block;
}

h1 {
	font-size: 25px;
	font-weight: $regular;

	@include media(lg-min) {
		font-size: 36px;
	}
}

p {
	font-size: 14px;
	font-weight: $regular;
	margin: 20px 0 30px;

	@include media(lg-min) {
		font-size: 24px;
	}
}

button {
	width: 100%;
	border: 0;
	font-family: $montserrat;
	padding: 8px;
	font-size: 14px;
	max-width: 190px;
	cursor: pointer;
	
	@include media(lg-min) {
		font-size: 24px;
		max-width: 245px;
	}
}
// 
section {
	padding-top: 50px;
	padding-bottom: 50px;
	@include media(lg-min) {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	a {
		display: inline;
	}
}

.light-button {
	background: $white;
	color: $black;
	transition: all 300ms ease-in-out;
	
	&:hover {
		transform: translateY(-5px);
		box-shadow: 1px 12px 36px -11px #000000;
	}
}

.dark-button {
	background: $black;
	color: $white;
	transition: all 300ms ease-in-out;
	
	&:hover {
		transform: translateY(-5px);
		box-shadow: 1px 12px 36px -11px #000000;
	}
}

.cover-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.slick-dots {
	bottom: 20px;

	li {
		width: 15px;
		height: 15px;
		margin: 0 10px;

		button {
			background-color: rgba(255, 255, 255, 0.20);
			border-radius: 50px;
			width: 100%;
			height: 100%;

			&::before {
				content: '';
			}
		}
	}
	.slick-active {
		button {
			background: $white;
		}
	}
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

header {
	position: fixed;
	width: 100%;
	z-index: 20;
	padding: 10px 0;

	@include media(lg-min) {
		padding: 20px 0;
	}

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.container-logo {
			width: 100%;
			max-width: 115px;

			@include media(lg-min) {
				max-width: 145px;
			}
		}

		.wrapper-menu {
			cursor: pointer;
			z-index: 10;
			height: 30px;
			width: 40px;

			@include media(lg-min) {
				height: 50px;
				width: 50px;
			}

			.menu {
				position: relative;
				width: 100%;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@include media(lg-min) {
					width: 45px;
					height: 26px;
				}

				span {
					width: 100%;
					height: 4px;
					background-color: $white;
					position: absolute;
					display: block;
					opacity: 1;
					transition: 250ms ease-in-out;
				}
			}

			.menu span:nth-child(1) {
				top: 0;
			}

			.menu span:nth-child(2),
			.menu span:nth-child(3) {
				top:12px;
			}

			.menu span:nth-child(4) {
				top: 24px;
			}

			.menu.open span:nth-child(1),
			.menu.open span:nth-child(4) {
				top: 10px;
				opacity: 0;
				width: 0%;
			}

			.menu.open span:nth-child(2) {
				transform: rotate(45deg);
			}

			.menu.open span:nth-child(3) {
				transform: rotate(-45deg);
			}
		}

		.bg-nav {
			background-color: rgba(0, 0, 0, 0.83);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			display: none;
			padding-top: 90px;
			padding-bottom: 20px;
			z-index: 1;

			// @include media(lg-min) {
			// 	position: static;
			// 	width: auto;
			// 	display: block !important;
			// 	background-color: transparent;
			// 	padding-top: 0;
			// 	padding-bottom: 0;
			// }

			.container {
				// @include media(lg-min) {
				// 	padding: 0;
				// }

				ul {
					list-style: none;
					text-align: center;

					// @include media(lg-min) {
					// 	margin: 0;
					// 	border: 0;
					// 	border-radius: 0;
					// 	display: flex;
					// 	flex-direction: row;
					// }

					li {
						// @include media(lg-min) {
						// 	margin-left: 50px;
						// }

						a {
							text-align: center;
							font-size: 14px;
							padding: 15px 0;
							cursor: pointer;
							position: relative;
							width: auto;
							font-weight: $regular;
							color: $white;
							transition: all 150ms ease-in-out;
							text-decoration: none;

							@include media(lg-min) {
								padding: 20px 0;
								font-size: 24px;
							}
						}
					}
				}
			}
		}
		
	}
}

.hero-page {
	padding-top: 0;
	padding-bottom: 0;

	.single-item {
		.hero-slide {
			position: relative;
			display: flex;
			height: 100vh;

			@include media(lg-min) {
				height: auto;
				min-height: 800px;
			}

			.overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.20);
			}

			.container {
				display: flex;
				align-self: flex-end;

				.wrapper {
					width: 100%;
					z-index: 4;
					position: relative;
					margin-bottom: 120px;

					h1, p {
						color: $white;
					}
				}
			}

		}
	}
}

#collection {
	.container-collection {
		.prev-video {
			width: 100%;
			height: 260px;
			margin-bottom: 30px;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);

			@include media(xl-min) {
				height: 330px;
			}

			iframe {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}

#about-me {
	color: $white;
	position: relative;

	@include media(lg-min) {
		padding-bottom: 190px;
	}

	&::before {
		content: '';
		position: absolute;
		background-color: rgba(#08223c, 0.6);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		@include media(md-min) {
			display: none;
		}
	}

	.content-inner {
		position: relative;
		z-index: 10;
	}

	p {
		max-width: 80%;

		@include media(sm-min) {
			max-width: 56%;
		}
	}
}

#fashion-photography,
#events-photography {
	.container-inner {
		.prev-video {
			width: 100%;
			height: 260px;
			margin-bottom: 30px;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);

			@include media(md-min) {
				height: 400px;
			}

			@include media(lg-min) {
				height: 600px;
			}

			@include media(xxl-min) {
				height: 700px;
			}

			iframe {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
	}
}

#awesome-features,
#instagram-feed {
	background-color: #F6F6F6;

	.pictures-container {
		justify-content: space-between;
		flex-wrap: wrap;
		@include media(sm-min) {
			display: flex;
		}
		@include media(md-min) {
			justify-content: flex-start;
		}

		.single-picture {
			height: 100%;
			max-height: 320px;
			width: calc(100% / 1);
			max-width: 240px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 30px;
			box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
			display: block;

			@include media(sm-min) {
				width: calc((100% / 2) - 15px);
				margin-right: initial;
				margin-left: initial;
			}
			@include media(md-min) {
				width: calc((100% / 3) - 30px);
				margin-right: 15px;
				margin-left: 15px;
			}
			@include media(lg-min) {
				width: calc( (100% / 5) - 30px);
			}

			div {
				height: 320px;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}
}

#black-white {
	position: relative;
	@include media(lg-min) {
		padding-bottom: 190px;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba($white, .50);
		z-index: 5;
	}

	.content-inner {
		z-index: 10;
		position: relative;

		p {
			max-width: 80%;

			@include media(sm-min) {
				max-width: 56%;
			}
		}
	}
}

#instagram-feed {
	background-color: $dark-blue;
	.content-inner {
		color: $white;
	}
}

footer {
	padding: 50px 0;

	.content-inner {

		.container-logo {
			width: 100%;
			max-width: 115px;
			margin-right: auto;
			margin-left: auto;

			@include media(lg-min) {
				max-width: 145px;
			}
		}

		nav {
			margin: 30px 0;

			ul {
				margin: 0;
				list-style: none;
				@include media(lg-min) {
					display: flex;
					justify-content: space-between;
				}

				li {
					a {
						text-decoration: none;
						line-height: 25px;
						font-size: 12px;
						color: #8B8B8B;

						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}

		.social-media {
			display: flex;
			width: fit-content;
			margin-right: auto;
			margin-left: auto;

			.single-icon {
				font-size: 22px;
				color: $white;
				background-color: red;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 5px;
				transition: all 300ms ease-in-out;

				&:hover {
					transform: translateY(-5px);
					box-shadow: 1px 12px 36px -11px #000000;
				}

				@include media(lg-min) {
					width: 45px;
					height: 45px;
					font-size: 27px;
				}

				a {
					color: $white;
				}
			}
			.facebook {
				background-color: #3B5998;
			}
			.twitter {
				background-color: #55ACEE;
			}
			.instagram {
				background: linear-gradient(to top right, #ffeb00, #FD5949, #d624cb, #0007ff);
			}
			.pinterest {
				background-color: #CB2027;
			}
			.telephone {
				background-color: #999999;
			}
			.email {
				background-color: #539044;
			}
		}

		.copyright {
			font-size: 16px;
			font-weight: $regular;
			color: $black;
			text-align: center;
		}
	}
}