@font-face {
  font-family: 'montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
  font-weight: 400;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "montserrat";
  font-weight: 400;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

a {
  display: block;
}

h1 {
  font-size: 25px;
  font-weight: 400;
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 36px;
  }
}

p {
  font-size: 14px;
  font-weight: 400;
  margin: 20px 0 30px;
}

@media screen and (min-width: 992px) {
  p {
    font-size: 24px;
  }
}

button {
  width: 100%;
  border: 0;
  font-family: "montserrat";
  padding: 8px;
  font-size: 14px;
  max-width: 190px;
  cursor: pointer;
}

@media screen and (min-width: 992px) {
  button {
    font-size: 24px;
    max-width: 245px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media screen and (min-width: 992px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

section a {
  display: inline;
}

.light-button {
  background: #fff;
  color: #000;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.light-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 12px 36px -11px #000000;
          box-shadow: 1px 12px 36px -11px #000000;
}

.dark-button {
  background: #000;
  color: #fff;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.dark-button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 12px 36px -11px #000000;
          box-shadow: 1px 12px 36px -11px #000000;
}

.cover-img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-dots {
  bottom: 20px;
}

.slick-dots li {
  width: 15px;
  height: 15px;
  margin: 0 10px;
}

.slick-dots li button {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  width: 100%;
  height: 100%;
}

.slick-dots li button::before {
  content: '';
}

.slick-dots .slick-active button {
  background: #fff;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

main {
  -webkit-box-shadow: -1px 2px 20px 0px #212121;
          box-shadow: -1px 2px 20px 0px #212121;
}

header {
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 10px 0;
  background-color: #143455;
}

@media screen and (min-width: 992px) {
  header {
    padding: 20px 0;
  }
}

header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .wrapper .container-logo {
  width: 100%;
  max-width: 115px;
}

@media screen and (min-width: 992px) {
  header .wrapper .container-logo {
    max-width: 145px;
  }
}

header .wrapper .wrapper-menu {
  cursor: pointer;
  z-index: 10;
  height: 30px;
  width: 40px;
}

@media screen and (min-width: 992px) {
  header .wrapper .wrapper-menu {
    height: 50px;
    width: 50px;
  }
}

header .wrapper .wrapper-menu .menu {
  position: relative;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 992px) {
  header .wrapper .wrapper-menu .menu {
    width: 45px;
    height: 26px;
  }
}

header .wrapper .wrapper-menu .menu span {
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  display: block;
  opacity: 1;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

header .wrapper .wrapper-menu .menu span:nth-child(1) {
  top: 0;
}

header .wrapper .wrapper-menu .menu span:nth-child(2),
header .wrapper .wrapper-menu .menu span:nth-child(3) {
  top: 12px;
}

header .wrapper .wrapper-menu .menu span:nth-child(4) {
  top: 24px;
}

header .wrapper .wrapper-menu .menu.open span:nth-child(1),
header .wrapper .wrapper-menu .menu.open span:nth-child(4) {
  top: 10px;
  opacity: 0;
  width: 0%;
}

header .wrapper .wrapper-menu .menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

header .wrapper .wrapper-menu .menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

header .wrapper .bg-nav {
  background-color: rgba(0, 0, 0, 0.83);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  padding-top: 90px;
  padding-bottom: 20px;
  z-index: 1;
}

header .wrapper .bg-nav .container ul {
  list-style: none;
  text-align: center;
}

header .wrapper .bg-nav .container ul li a {
  text-align: center;
  font-size: 14px;
  padding: 15px 0;
  cursor: pointer;
  position: relative;
  width: auto;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none;
}

header .wrapper .bg-nav .container ul li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  header .wrapper .bg-nav .container ul li a {
    padding: 20px 0;
    font-size: 24px;
  }
}

.hero-page {
  padding-top: 0;
  padding-bottom: 0;
}

.hero-page .single-item .hero-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

@media screen and (min-width: 992px) {
  .hero-page .single-item .hero-slide {
    height: auto;
    min-height: 800px;
  }
}

.hero-page .single-item .hero-slide .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hero-page .single-item .hero-slide .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.hero-page .single-item .hero-slide .container .wrapper {
  width: 100%;
  z-index: 4;
  position: relative;
  margin-bottom: 120px;
}

.hero-page .single-item .hero-slide .container .wrapper h1, .hero-page .single-item .hero-slide .container .wrapper p {
  color: #fff;
}

#collection .container-collection .prev-video {
  width: 100%;
  height: 260px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 1200px) {
  #collection .container-collection .prev-video {
    height: 330px;
  }
}

#collection .container-collection .prev-video iframe {
  width: 100%;
  height: 100%;
  display: block;
}

#about-me {
  color: #fff;
  position: relative;
  background-attachment: fixed;
}

@media screen and (min-width: 992px) {
  #about-me {
    padding-bottom: 190px;
  }
}

#about-me::before {
  content: '';
  position: absolute;
  background-color: rgba(8, 34, 60, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (min-width: 768px) {
  #about-me::before {
    display: none;
  }
}

#about-me .content-inner {
  position: relative;
  z-index: 10;
}

#about-me p {
  max-width: 80%;
}

@media screen and (min-width: 576px) {
  #about-me p {
    max-width: 56%;
  }
}

#fashion-photography .container-inner .prev-video,
#events-photography .container-inner .prev-video {
  width: 100%;
  height: 260px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  #fashion-photography .container-inner .prev-video,
  #events-photography .container-inner .prev-video {
    height: 400px;
  }
}

@media screen and (min-width: 992px) {
  #fashion-photography .container-inner .prev-video,
  #events-photography .container-inner .prev-video {
    height: 600px;
  }
}

@media screen and (min-width: 1440px) {
  #fashion-photography .container-inner .prev-video,
  #events-photography .container-inner .prev-video {
    height: 700px;
  }
}

#fashion-photography .container-inner .prev-video iframe,
#events-photography .container-inner .prev-video iframe {
  width: 100%;
  height: 100%;
  display: block;
}

#awesome-features,
#instagram-feed {
  background-color: #F6F6F6;
}

#awesome-features .pictures-container,
#instagram-feed .pictures-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 576px) {
  #awesome-features .pictures-container,
  #instagram-feed .pictures-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #awesome-features .pictures-container,
  #instagram-feed .pictures-container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

#awesome-features .pictures-container .single-picture,
#instagram-feed .pictures-container .single-picture {
  height: 100%;
  max-height: 320px;
  width: calc(100% / 1);
  max-width: 240px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  display: block;
}

@media screen and (min-width: 576px) {
  #awesome-features .pictures-container .single-picture,
  #instagram-feed .pictures-container .single-picture {
    width: calc((100% / 2) - 15px);
    margin-right: initial;
    margin-left: initial;
  }
}

@media screen and (min-width: 768px) {
  #awesome-features .pictures-container .single-picture,
  #instagram-feed .pictures-container .single-picture {
    width: calc((100% / 3) - 30px);
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media screen and (min-width: 992px) {
  #awesome-features .pictures-container .single-picture,
  #instagram-feed .pictures-container .single-picture {
    width: calc( (100% / 5) - 30px);
  }
}

#awesome-features .pictures-container .single-picture div,
#instagram-feed .pictures-container .single-picture div {
  height: 320px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#black-white {
  background-attachment: fixed;
  position: relative;
}

@media screen and (min-width: 992px) {
  #black-white {
    padding-bottom: 190px;
  }
}

#black-white::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 5;
}

#black-white .content-inner {
  z-index: 10;
  position: relative;
}

#black-white .content-inner p {
  max-width: 80%;
}

@media screen and (min-width: 576px) {
  #black-white .content-inner p {
    max-width: 56%;
  }
}

#instagram-feed {
  background-color: #143455;
}

#instagram-feed .content-inner {
  color: #fff;
}

footer {
  padding: 50px 0;
}

footer .content-inner .container-logo {
  width: 100%;
  max-width: 115px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 992px) {
  footer .content-inner .container-logo {
    max-width: 145px;
  }
}

footer .content-inner nav {
  margin: 30px 0;
}

footer .content-inner nav ul {
  margin: 0;
  list-style: none;
}

@media screen and (min-width: 992px) {
  footer .content-inner nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .content-inner nav ul li a {
  text-decoration: none;
  line-height: 25px;
  font-size: 12px;
  color: #8B8B8B;
}

footer .content-inner nav ul li a:hover {
  text-decoration: underline;
}

footer .content-inner .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
}

footer .content-inner .social-media .single-icon {
  font-size: 22px;
  color: #fff;
  background-color: red;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

footer .content-inner .social-media .single-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 1px 12px 36px -11px #000000;
          box-shadow: 1px 12px 36px -11px #000000;
}

@media screen and (min-width: 992px) {
  footer .content-inner .social-media .single-icon {
    width: 45px;
    height: 45px;
    font-size: 27px;
  }
}

footer .content-inner .social-media .single-icon a {
  color: #fff;
}

footer .content-inner .social-media .facebook {
  background-color: #3B5998;
}

footer .content-inner .social-media .twitter {
  background-color: #55ACEE;
}

footer .content-inner .social-media .instagram {
  background: -webkit-gradient(linear, left bottom, right top, from(#ffeb00), color-stop(#FD5949), color-stop(#d624cb), to(#0007ff));
  background: linear-gradient(to top right, #ffeb00, #FD5949, #d624cb, #0007ff);
}

footer .content-inner .social-media .pinterest {
  background-color: #CB2027;
}

footer .content-inner .social-media .telephone {
  background-color: #999999;
}

footer .content-inner .social-media .email {
  background-color: #539044;
}

footer .content-inner .copyright {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  text-align: center;
  margin-bottom: 0;
}
/*# sourceMappingURL=styles.css.map */